body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://img.freepik.com/free-photo/watercolor-light-steel-blue-wallpaper-image_53876-94665.jpg?w=1480&t=st=1706197309~exp=1706197909~hmac=0a777130c1ad91f27c68966b3206451642f9330ea35d7acfa12c5dbadd86ed46');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
  

header {
    background-color: #73aac6;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #73aac6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #73aac6;
}

footer {
    position: relative;
    transition: transform 0.5s ease; 
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.footer-hidden {
    transform: translateY(100%); 
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.zoom-effect {
    transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
    transform: scale(1.1); 
}

.social-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    color: #ffffff; /* Color de los íconos */
    font-size: 34px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #3f9eab; /* Color al hacer hover sobre los íconos */
}
.card {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5 ease, transform 0.5s ease;

}
.card.appear {
    opacity: 1;
    transform: translateY(0) ;
}